<div class="tools">
  <button class="menu-btn"></button>
  <p class="breadcrumb"> David | David </p>
  <div class="menu">
    <ul class="main">
        <li>Eventos</li>
        <li>Convenções</li>
        <li>Downloads  Conteúdo</li>
        <li>Focus 24h</li>
        <li>eBook – Ação Promocional</li>
    </ul>
    <ul class="eventos">
        <li>Focus fashion Day – Teatro Bradesco – 07/03/2017</li>
        <li>Criciúma – SC – 04/05/2017</li>
    </ul>
  </div>
  <div class="options">
    <input type="text" ng-model="search">
    <button  class="search-btn" type="sub"></button>
    <button class="export-btn" ng-click="exportToExcel('tableToExportNoAccents')">Exportar Excel</button> <!-- ng-click="exportToExcel('tableToExportNoAccents')"-->
  </div>
</div>
<div class="table_container">
  <table ng-init=loadUsers()>
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Representante</th>
        <th>Nome</th>
        <th>Razão</th>
        <th>Gerente</th>
        <th>Categoria</th>
        <th>Cargo</th>
        <th>Email</th>
        <th>Segmentos</th>
        <th>Data</th>
        <th>Convidado principal</th>
        <th>Confirmou presença</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="client in clients | orderBy:'id' | filter:search">
        <td>{{client.CODIGO || client.pcodigo}}</td>
        <td>{{client.REPRESENTANTE || "-"}}</td>
        <td>{{client.CONTATO || client.pname}}</td> <!--{{client.name || client.pname}}-->
        <td>{{client.RAZAO || client.razao}}</td>
        <td>{{client.GERENTE || " - "}}</td>
        <td>{{client.CATEGORIA || " - "}}</td>
        <td>{{client.cargo || client.pcargo}}</td>
        <td>{{client.EMAIL || client.pemail}}</td>
        <!--<td><span ng-repeat="seg in client.segments">{{seg.segval}} , </span><span ng-repeat="seg in client.psegments">{{seg.segval}} ,</span></td>-->
        <td>{{client.segments}}</td>
        <td>{{convertDate(client.date)}}</td>
        <td>{{client.main}}</td>
        <td>{{client.confirmed}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div id="tableToExportNoAccents" class="hide">
  <table class="table table-striped" ng-init=loadUsers()>
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Representante</th>
        <th>Nome</th>
        <th>Razao</th>
        <th>Gerente</th>
        <th>Categoria</th>
        <th>Cargo</th>
        <th>Email</th>
        <th>Segmentos</th>
        <th>Data</th>
        <th>Convidado principal</th>
        <th>Confirmou presenca</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="client in clients | orderBy:'id' | filter:search">
        <td>{{client.CODIGO || client.pcodigo}}</td>
        <td>{{client.REPRESENTANTE.removeAccents() || "-"}}</td>
        <td>{{client.CONTATO.removeAccents() || client.pname.removeAccents()}}</td> <!--{{client.name || client.pname}}-->
        <td>{{client.RAZAO.removeAccents() || client.razao.removeAccents()}}</td>
        <td>{{client.GERENTE.removeAccents() || " - "}}</td>
        <td>{{client.CATEGORIA.removeAccents() || " - "}}</td>
        <td>{{client.cargo.removeAccents() || client.pcargo.removeAccents()}}</td>
        <td>{{client.EMAIL || client.pemail}}</td>
        <!--<td><span ng-repeat="seg in client.segments">{{seg.segval}} , </span><span ng-repeat="seg in client.psegments">{{seg.segval}} ,</span></td>-->
        <td>{{client.segments.removeAccents()}}</td>
        <td>{{convertDate(client.date)}}</td>
        <td>{{client.main}}</td>
        <td>{{client.confirmed}}</td>
      </tr>
    </tbody>
  </table>
</div>